[1;34m                                     _\\|//_[0;37;0m
[1;34m                                    (' . . ')[0;37;0m
[1;33m┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━[1;34mooO[1;33m-[1;34m(_)[1;33m-[1;34mOoo[1;33m━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓[0;37;0m
[1;33m┃                                                                              ┃[0;37;0m
[1;33m┃  [1;31m★[1;33m 『[1;36m魔幻世纪[1;33m』[0;37;0m[37m正处在开发阶段，如果您发现有任何 [1;31mBUG[0;37;0m[37m 请留言向巫师汇报[1;33m         ┃[0;37;0m
[1;33m┃  [1;31m★[0;37;0m[37m 请用[1;31m help[0;37;0m[37m 来查看本游戏帮助总目录                                      [1;33m    ┃[0;37;0m
[1;33m┃  [1;31m★[0;37;0m[37m 请用[1;31m help newbie[0;37;0m[37m 来查看新手帮助                                       [1;33m    ┃[0;37;0m
[1;33m┃  [1;31m★[0;37;0m[37m 请用[1;31m help rules[0;37;0m [37m来查询游戏规则                                        [1;33m    ┃[0;37;0m
[1;33m┃  [1;31m★[0;37;0m[37m 请用[1;31m help faq [0;37;0m[37m 来查阅常见问题解答                                     [1;33m    ┃[0;37;0m
[1;33m┃  [1;31m★[0;37;0m[37m 请用[1;31m help mhsj[0;37;0m[37m 来查阅本站更新表                                       [1;33m    ┃[0;37;0m
[1;33m┃  [1;31m★[0;37;0m [37m本游戏不欢迎[1;35m做站点广告者[0;37;0m[37m连线，一经发现将被踢出系统或直接封掉其连线[1;31m IP[1;33m     ┃[0;37;0m
[1;33m┃  [1;31m★[0;37;0m [37m系统重新启动([1;31mReboot[0;37;0m[37m)属于天灾人祸，任何损失自负 [1;33m                           ┃[0;37;0m
[1;33m┃  [1;31m★[0;37;0m[37m 为了使游戏能更好地运行，请销毁 ([1;31msuicide[0;37;0m[37m) 掉所有不用的帐号 [1;33m                ┃[0;37;0m
[1;33m┃  [1;31m★[0;37;0m[37m 本游戏不保护在校学生的帐号，其帐号出现任何问题责任自负            [1;33m        ┃[0;37;0m
[1;33m┃  [1;31m★[0;37;0m[37m 暂定为连续[1;31m 三十天[0;37;0m [37m没有上线的玩家，档案将被系统[1;31m自动删除  [1;33m                  ┃[0;37;0m
[1;33m┃  [1;31m★[0;37;0m[37m 本游戏不招收任何玩家级的巫师，不接受转站。                           [1;33m     ┃[0;37;0m
[1;33m┃  [1;31m★[0;37;0m[37m 新人除了初始化奖励以外，本站不给与额外奖励。           [1;33m                   ┃[0;37;0m
[1;33m┃  [1;31m★[0;37;0m[37m 如果有任何问题或建议请联络[1;31m mhsj2001@etang.com                          [1;33m   ┃[0;37;0m
[1;33m┃                                                                              ┃[0;37;0m
[1;33m┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━◇ ◇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛[0;37;0m
