                   [1;31m──[1;36m 魔幻世纪  [1;33m游戏规则 [1;31m──[2;37;0m
[1;31m━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━[2;37;0m
[1;31m  凡是不能遵守本站规则的朋友请勿加入本游戏,我们不会做任何的挽留[2;37;0m

[1;31m√ [1;33m故意破坏本游戏运行的玩家，将被宣布为不受欢迎者，而相关[1;31mIP[1;33m将会[2;37;0m
[1;33m   被[1;31m拒绝连线[1;33m或者[1;31m杀档[2;37;0m

[1;31m√[1;33m 严禁不同玩家之间[1;31m[共用帐号和借用帐号][1;33m惩罚至杀档[2;37;0m

[1;31m√[1;33m 允许玩家在游戏范围内有节制的进行娱乐为第一位的。严禁进行超出游[2;37;0m
[1;33m戏范围的人身攻击和连环恶性PK(把某位玩家杀到0等),惩罚至[1;31m杀档[1;33m或[1;31m封掉IP[2;37;0m

[1;31m√[1;33m 玩家严禁以任何形式[2;37;0m[37m[刷屏系统][1;33m 或戏弄其他玩家,比如#n look,严禁在公[2;37;0m
[1;33m共场合练功和读书,违者关[1;31m死牢[1;33m,惩罚至[1;31m杀档[2;37;0m

[1;31m√[1;33m 利用[1;31m Bug[1;33m 及[1;31m Multi-Login[1;33m 牟利或练功者，被抓到第一次减所得参数，[2;37;0m
[1;33m以后每次减所有参数的 [1;31m1/2[1;33m,惩罚至[1;31m杀档[2;37;0m

[1;31m√[1;33m 除了系统帮助里所公布的有关游戏中谜题、机关、陷阱解法外,巫师没有[2;37;0m
[1;33m义务向玩家解释更多的事项[2;37;0m

[1;31m√[1;33m 严禁向巫师[2;37;0m[1;31m[索要任何物品][1;33m和要求[1;31m[更改任何个人数据][2;37;0m

[1;31m√ [1;33m对于[2;37;0m[37m[学生档案][1;33m本游戏不予保护，我们不支持在校学生在这里进行游戏娱乐[2;37;0m

[1;31m√[1;33m 严禁向巫师要求查询任何的个人数据[2;37;0m

[1;31m√ [1;33m对于系统意外当机玩家所损失的数据，巫师没有义务给予恢复[2;37;0m

[1;31m√ [1;33m对于玩家档案数据意外损坏，如果玩家自己没有[2;37;0m[37m[备份[1;31m(backup)[2;37;0m[37m档案][1;33m 不予恢复[2;37;0m

[1;31m√ [1;33m无论何种原因，玩家[1;31m[自杀][1;33m的档案，不予恢复[2;37;0m

[1;31m√ [1;33m严禁使用和巫师一样以及类似的名字,严禁使用游戏中任何一种NPC或物品的名[2;37;0m
[1;33m字以及用门派的名号和武功名称，地图地点等做名字,惩罚至[1;31m杀档[2;37;0m

[1;31m√ [1;33m严禁在任何的频道讲[1;31m[市井语言][1;33m，包括拼音缩写,惩罚至[1;31m杀档[2;37;0m

[1;31m√ [2;37;0m[37m[个人宠物名字][1;31m严禁[1;33m使用任何的玩家的名字以及需要遵守姓名规则,惩罚至[1;31m杀档[2;37;0m

[1;31m√ [1;33m玩家[2;37;0m[37m[无权抗议][1;33m巫师对任何程序的修改,有想法可以建议[2;37;0m

[1;31m√ [1;33m严禁以任何方式[1;31m（利用系统设置暂时漏洞）[1;33m学习任何一种别派武功[2;37;0m

[1;31m√[1;33m 对于游戏中的NPC人物[1;31m[严禁非法异地搬动][1;33m 严禁召唤护法以及个人与不死NPC进行战[2;37;0m
[1;33m斗,惩罚至[1;31m杀档[2;37;0m

[1;31m√ [1;33m对于任意的 IP 如果有一次对服务器的攻击行为，该 IP 的所有玩家[2;37;0m
[1;33m将被[1;31m[5m[全线杀档][2;37;0m[1;33m并且永远封杀该 IP 的进站娱乐权利[2;37;0m

[1;31m√ [1;33m凡是在任何的交谈频道扮演巫师身份扰乱秩序的,根据系统记录将给[2;37;0m
[1;33m予关[1;31m死牢七天[1;33m,惩罚至[1;31m杀档[2;37;0m

[1;31m√ [1;33m严禁涉及带有[1;31m [政治色彩倾向的言论][1;33m 惩罚至[1;31m杀档[2;37;0m

[1;31m√ [1;33m严禁[2;37;0m[37m[名字][1;33m里带空格和符号，只要不是英文和中文的，惩罚至[1;31m杀档[2;37;0m

[1;31m√ [1;33m凡是有意贬低巫师工作水平和上线贬低站点声誉的，将被[1;31m直接杀档[1;33m或[1;31m封IP[2;37;0m

[1;31m√ [1;33m凡是[4m[1;31m[试图非法登陆巫师帐号][2;37;0m[1;33m者，将被[1;31m直接杀档[1;33m或[1;31m封IP[2;37;0m

[1;31m√ [1;33m凡是拿到[2;37;0m[33m[黄铜钥匙][1;33m不开门而使钥匙废掉者,关[1;31m死牢三天[1;33m,相关责任人连带处罚[2;37;0m

[1;31m√ [1;33m严禁成立带有[1;31m [黑社会] [1;33m性质的组织垄断网络,骚扰和威胁其他玩家,违者所有[2;37;0m
[1;33m相关责任人连带处罚,关[1;31m死牢30天[1;33m,惩罚至[1;31m杀档[2;37;0m

[1;31m√ [1;33m禁止使用和其他玩家一样的中文名字[2;37;0m[37m（根据MUDAGE小者将被勒令改名或者杀档）[1;33m不服[2;37;0m
[1;33m从规定管理的将被关[1;31m死牢[1;33m,惩罚至[1;31m杀档[2;37;0m

[1;31m√ [1;33m凡是没有 [1;31mMAIL [1;33m地址的[2;37;0m[37m[个人密码][1;33m丢失，巫师没有义务给予恢复，对于[2;37;0m
[1;33m登陆时没有正确填写地址的可以给管理员mail,不然以后密码丢失自己负责[2;37;0m

[1;31m√[2;37;0m[37m[玩家数据][1;33m每一个月清档一次，凡是累计时间超过一个月不上线者，个人档案将被删除[2;37;0m

[1;31m√[1;33m 凡是[2;37;0m[37m[刷写留言板][1;33m的[1;31m直接杀档[1;33m，相关IP给以[1;31m暂封[1;33m或[1;31m永久性封掉[1;33m。巫师调[2;37;0m
[1;33m处若有不公、牟利特定玩家、或恶意伤害玩家权益，可在留言板申诉。[2;37;0m

[1;31m√ [1;33m除恶意中伤本游戏，巫师及其他玩家的留言外，所有留言将按时间顺序更新，[2;37;0m
[1;33m   巫师以及版主不得随意删除。注意：胡言乱语不知所云以及反复重贴的留言[2;37;0m
[1;33m   不在此条保护之列。[2;37;0m[37m除此之外巫师要严格遵守巫师规则 [1;31mhelp wiz_rules[2;37;0m
[1;31m━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━[2;37;0m